* {
    box-sizing: border-box;
}
  
body {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0;
    font-family: Helvetica;
    background-color: rgb(15, 15, 15);
}

.stats, .monster {
    /* grid-column: span 1; */
    display: flex;
    /* justify-content: center; */
    align-items: baseline;
}

p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 800;
}

img {
    width: 68px;
    margin: 0 10px 0 0;
}

.hitpoints {
    color: rgb(214, 59, 59);
}

.strength {
    color: rgb(31, 82, 192);
}