* {
    box-sizing: border-box;
}
  
:root {
    --border: rgb(74, 79, 148);
    --background: rgb(102, 102, 102);
  }

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    justify-items: center;
    margin: 0;
    font-family: Helvetica;
    background-color: rgb(15, 15, 15);
}

.player, .monster {
    display: flex;
    margin: 30px 0;
    align-items: baseline;
    background-color: var(--background);
    border: 10px groove var(--border);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 800;
}

#difficulty, #playerStats, #monsterStats {
    margin: 0 19px 0 0;
}

#roll {
    display: flex;
    align-items: flex-end;
    margin: 15px;
}

button {
    width: 100px;
    height: 40px;
    border: 2px solid var(--border);
    background-color: var(--background);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}

button:disabled {
    color: rgb(145, 145, 145);
}

button:hover:enabled {
    background-color: #474747;
}

button:active:enabled {
    box-shadow: inset 01px 4px 10px rgba(0, 0, 0, 0.5)
}

[hidden] {
    display: none;
}

#message p {
    background-color: var(--background);
    padding: 30px 0;
    text-align: center;
    border: 10px groove var(--border);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    width: 480px;
    height: 70%;
}

#message, #roll {
    height: 20vh;
}

img {
    width: 68px;
    margin: 0 10px 0 0;
}

.hitpoints {
    color: rgb(212, 71, 71);
}

.strength {
    color: rgb(17, 67, 173);
}


@keyframes orc {
    0% {content: url('../imgs/animation/orc_0.png');}
    33% {content: url('../imgs/animation/orc_1.png');}
    66% {content: url('../imgs/animation/orc_2.png');}
    100% {content: url('../imgs/animation/orc_3.png');}
}

.orcDeath {
    content: url('../imgs/animation/orc_3.png');
    animation-name: orc; 
    animation-duration: 1.5s;
}


@keyframes demon {
    0% {content: url('../imgs/animation/demon_0.png')}
    33% {content: url('../imgs/animation/demon_1.png')}
    66% {content: url('../imgs/animation/demon_2.png')}
    100% {content: url('../imgs/animation/demon_3.png')}
}

.demonDeath {
    content: url('../imgs/animation/demon_3.png');
    animation-name: demon; 
    animation-duration: 1.5s;
}


@keyframes skeleton {
    0% {content: url('../imgs/animation/skeleton_0.png')}
    33% {content: url('../imgs/animation/skeleton_1.png')}
    66% {content: url('../imgs/animation/skeleton_2.png')}
    100% {content: url('../imgs/animation/skeleton_3.png')}
}

.skeletonDeath {
    content: url('../imgs/animation/skeleton_3.png');
    animation-name: skeleton; 
    animation-duration: 1.5s;
}

@keyframes player {
    0% {content: url('../imgs/animation/knight_0.png')}
    33% {content: url('../imgs/animation/knight_1.png')}
    66% {content: url('../imgs/animation/knight_2.png')}
    100% {content: url('../imgs/animation/knight_3.png')}
}

.playerDeath {
    content: url('../imgs/animation/knight_3.png');
    animation-name: player; 
    animation-duration: 1.5s;
}

